doctype html
html(lang='en')
  include layout/head.pug
  body.container
    div(class='row justify-content-center')
      div(class='col-xs-6 col-md-8 col-lg-6')
        h1= title
        div.p-2
          h3#sub-1 Photo Uploaded!
          h3
            a(href='/' id='sub-2') &larr; Back
        div.p-2
          img(src='/uploads/' + pic_uploaded class='img-fluid img-thumbnail' alt= pic_uploaded)
    include layout/foot.pug
